In [1]:
import sys
sys.path.append("..")
import os
from os.path import join, dirname
from dotenv import load_dotenv
from pathlib import Path
import pandas as pd
import numpy as np

import utils.top_n_box as top_n_box
import utils.read_data as rd

In [2]:
load_dotenv(verbose=True)
dotenv_path = join(Path().resolve(), '.env')
load_dotenv(dotenv_path)

True

In [3]:
GOOGLE_DRIVE_PATH = os.environ.get("GOOGLE_DRIVE_PATH")
DATA_PATH = GOOGLE_DRIVE_PATH + '/train_data'

## サンプルデータを準備

In [4]:
df = rd.read_horse_race_csv(DATA_PATH)

horse_race_20201128.csv

c:\users\endo_\anaconda3\envs\py37\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (17,65,113,157,161,205,209,253,257) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 639818 entries, 0 to 639817
Columns: 288 entries, race_id to rentan3-5
dtypes: float64(89), int64(13), object(186)
memory usage: 1.4+ GB

In [6]:
df.head()

,race_id,rank,frame_number,horse_number,horse_id,sex_and_age,burden_weight,rider_id,goal_time,goal_time_dif,...,hukusyo_second-5,hukusyo_third-5,wakuren-5,umaren-5,wide_1_2-5,wide_1_3-5,wide_2_3-5,umatan-5,renhuku3-5,rentan3-5
0,2.017091e+11,11,5,8,2015100928,牝2,51.0,1168,1:11.2,1.1/4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.017091e+11,9,6,11,2015100928,牝2,54.0,1126,1:14.9,アタマ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.018080e+11,12,2,3,2015100928,牝3,54.0,732,1:30.8,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.018080e+11,4,2,4,2015100928,牝3,54.0,1154,1:14.4,1.3/4,...,260,190,"6,240","17,470","4,710","2,280","1,030","37,440","22,660","303,790"
4,2.018090e+11,16,6,12,2015100928,牝3,54.0,732,1:14.1,クビ,...,170,210,"2,680","2,560",740,"1,170",500,"6,700","3,970","32,740"

In [7]:
for c in df.columns:
    if "tan" in c or "huku" in c:
        print(c)

tansyo
hukusyo_first
hukusyo_second
hukusyo_third
umatan
renhuku3
rentan3
tansyo-1
hukusyo_first-1
hukusyo_second-1
hukusyo_third-1
umatan-1
renhuku3-1
rentan3-1
tansyo-2
hukusyo_first-2
hukusyo_second-2
hukusyo_third-2
umatan-2
renhuku3-2
rentan3-2
tansyo-3
hukusyo_first-3
hukusyo_second-3
hukusyo_third-3
umatan-3
renhuku3-3
rentan3-3
tansyo-4
hukusyo_first-4
hukusyo_second-4
hukusyo_third-4
umatan-4
renhuku3-4
rentan3-4
tansyo-5
hukusyo_first-5
hukusyo_second-5
hukusyo_third-5
umatan-5
renhuku3-5
rentan3-5

In [8]:
top_1_box_df = df[["race_id", "tansyo", "hukusyo_first", "hukusyo_second", "hukusyo_third", "rank"]]
top_1_box_df.head()

        race_id tansyo hukusyo_first hukusyo_second hukusyo_third rank
0  2.017091e+11  4,780           830            260           190   11
1  2.017091e+11  2,630           740            480           510    9
2  2.018080e+11    450           170            110           380   12
3  2.018080e+11  2,730           800            510           190    4
4  2.018090e+11  1,420           450            930           310   16

In [9]:
test_race_ids = list(set(top_1_box_df["race_id"].values))[:4]
print(test_race_ids)

[202005020701.0, 202005020702.0, 202005020703.0, 202005020704.0]

In [10]:
def extract_race(horse_race_df, race_id):
    return horse_race_df[horse_race_df["race_id"] == race_id]

In [11]:
top_1_box_test_df = top_1_box_df[top_1_box_df["race_id"] == test_race_ids[0]]
for race_id in test_race_ids[1:]:
    top_1_box_test_df = top_1_box_test_df.append(extract_race(top_1_box_df, race_id))

In [12]:
print(test_race_ids[0])
extract_race(top_1_box_test_df, test_race_ids[0])

202005020701.0

             race_id tansyo hukusyo_first hukusyo_second hukusyo_third rank
152297  2.020050e+11    760           160            160           110    9
157393  2.020050e+11    760           160            160           110    3
161518  2.020050e+11    760           160            160           110    6
173433  2.020050e+11    760           160            160           110   13
173692  2.020050e+11    760           160            160           110    7
176902  2.020050e+11    760           160            160           110   14
177499  2.020050e+11    760           160            160           110   15
181923  2.020050e+11    760           160            160           110   11
183316  2.020050e+11    760           160            160           110    2
183467  2.020050e+11    760           160            160           110   12
184946  2.020050e+11    760           160            160           110    中
188652  2.020050e+11    760           160            160           110   10
190489  2.020050e+11    760           160            160           110    5
191556  2.020050e+11    760           160            160           110    8
192389  2.020050e+11    760           160            160           110    1
196056  2.020050e+11    760           160            160           110    4

In [13]:
print(test_race_ids[1])
extract_race(top_1_box_test_df, test_race_ids[1])

202005020702.0

             race_id tansyo hukusyo_first hukusyo_second hukusyo_third rank
153390  2.020050e+11  5,960           570            110           110    8
156335  2.020050e+11  5,960           570            110           110   12
160537  2.020050e+11  5,960           570            110           110    3
163708  2.020050e+11  5,960           570            110           110    9
166408  2.020050e+11  5,960           570            110           110   15
169303  2.020050e+11  5,960           570            110           110   10
169359  2.020050e+11  5,960           570            110           110    1
172223  2.020050e+11  5,960           570            110           110    6
178408  2.020050e+11  5,960           570            110           110    5
180110  2.020050e+11  5,960           570            110           110    4
182289  2.020050e+11  5,960           570            110           110   16
184681  2.020050e+11  5,960           570            110           110    2
185599  2.020050e+11  5,960           570            110           110   13
197352  2.020050e+11  5,960           570            110           110    7
197567  2.020050e+11  5,960           570            110           110   11
197761  2.020050e+11  5,960           570            110           110   14

In [14]:
print(test_race_ids[2])
extract_race(top_1_box_test_df, test_race_ids[2])

202005020703.0

             race_id tansyo hukusyo_first hukusyo_second hukusyo_third rank
150181  2.020050e+11    200           110            150           170    2
151642  2.020050e+11    200           110            150           170    1
152391  2.020050e+11    200           110            150           170   16
154900  2.020050e+11    200           110            150           170   12
157431  2.020050e+11    200           110            150           170    5
162444  2.020050e+11    200           110            150           170    6
166913  2.020050e+11    200           110            150           170    7
173980  2.020050e+11    200           110            150           170   10
174701  2.020050e+11    200           110            150           170   13
174804  2.020050e+11    200           110            150           170    8
176298  2.020050e+11    200           110            150           170    4
177422  2.020050e+11    200           110            150           170   11
178045  2.020050e+11    200           110            150           170   14
182249  2.020050e+11    200           110            150           170    9
183105  2.020050e+11    200           110            150           170    3
192472  2.020050e+11    200           110            150           170   15

In [15]:
print(test_race_ids[3])
extract_race(top_1_box_test_df, test_race_ids[3])

202005020704.0

             race_id tansyo hukusyo_first hukusyo_second hukusyo_third rank
166105  2.020050e+11    610           220            260         2,200   12
169687  2.020050e+11    610           220            260         2,200    1
172982  2.020050e+11    610           220            260         2,200    8
173348  2.020050e+11    610           220            260         2,200    4
175314  2.020050e+11    610           220            260         2,200   11
176653  2.020050e+11    610           220            260         2,200   10
178709  2.020050e+11    610           220            260         2,200    5
183839  2.020050e+11    610           220            260         2,200    7
187811  2.020050e+11    610           220            260         2,200    2
188722  2.020050e+11    610           220            260         2,200    6
189667  2.020050e+11    610           220            260         2,200    9
190023  2.020050e+11    610           220            260         2,200    3
193381  2.020050e+11    610           220            260         2,200   13

In [16]:
import random 
# 各レースの疑似予測データを作成
predicted_ranks_df = pd.DataFrame({
    "race_id": test_race_ids[0], 
    "rank": extract_race(top_1_box_test_df, test_race_ids[0])["rank"].values
})

for race_id in test_race_ids[1:]:
    extracted_race_df = extract_race(top_1_box_test_df, race_id)
    predicted_ranks = random.sample([i + 1
        for i in range(len(extracted_race_df))
    ], len(extracted_race_df))
    predicted_ranks_df = predicted_ranks_df.append(pd.DataFrame(
        {"race_id": race_id, "rank": predicted_ranks}
    ))
predicted_ranks_df.head()

        race_id rank
0  2.020050e+11    9
1  2.020050e+11    3
2  2.020050e+11    6
3  2.020050e+11   13
4  2.020050e+11    7

In [17]:
top_1_box_test_df["rank"].replace("中", -1, inplace=True)
top_1_box_test_df = top_1_box_test_df.astype({"rank": np.int32})

## top_n_box.pyの使用例

In [18]:
top_n_box.top_1_box(top_1_box_test_df, predicted_ranks_df)

['610' '610' '610' '610' '610' '610' '610' '610' '610' '610' '610' '610'
 '610']
[False  True False False False False False False False False False False
 False]
['610']
610

{'tansyo': {'correct_rate': 0,
  'ret_rate': 0,
  'ret_std': 0,
  'total_hit': 1,
  'total_ret': 610}}

In [19]:
import numpy as np
a = np.array(["1"])
print(a.dtype)
a = np.array([1])
print(a.dtype == np.int32)

<U1
True