In [1]:
!ls -a

.                  .git               README.md          test.ipynb
..                 .gitignore         data
.env               .ipynb_checkpoints requirements.txt

In [2]:
import pandas as pd

In [3]:
import os
from os.path import join, dirname
from dotenv import load_dotenv
from pathlib import Path

In [4]:
load_dotenv(verbose=True)
dotenv_path = join(Path().resolve(), '.env')
load_dotenv(dotenv_path)

True

In [5]:
GOOGLE_DRIVE_PATH = os.environ.get("GOOGLE_DRIVE_PATH")

In [7]:
pd.read_csv(GOOGLE_DRIVE_PATH + 'horse_racing/data/horse-2008.csv')

,race_id,rank,frame_number,horse_number,horse_id,sex_and_age,burden_weight,rider_id,goal_time,goal_time_dif,time_value,half_way_rank,last_time,odds,popular,horse_weight,tame_time,tamer_id,owner_id
0,200810010312,1,4,7,2004110053,牡4,56,674,1:09.7,NaN,\n\n**\n\n,11-12,35.9,9.7,4,484(-10),\n\n,1075,19004
1,200810010312,2,3,6,2003106038,牡5,57,1054,1:09.7,クビ,\n\n**\n\n,7-8,36.1,35.7,12,474(-8),\n\n,1007,910006
2,200810010312,3,1,2,2004110268,牝4,53,5223,1:09.9,1.1/4,\n\n**\n\n,7-8,36.3,54.5,14,442(-18),\n\n,427,975009
3,200810010312,4,7,15,2003103747,牝5,55,1099,1:09.9,ハナ,\n\n**\n\n,13-12,35.8,25.9,10,458(0),\n\n,1041,102800
4,200810010312,5,6,12,2004101251,牝4,54,1075,1:09.9,クビ,\n\n**\n\n,6-3,36.4,49.2,13,456(-4),\n\n,437,851005
5,200810010312,6,2,4,2003100626,牝5,55,635,1:10.0,クビ,\n\n**\n\n,15-14,35.6,3.1,1,454(0),\n\n,411,329004
6,200810010312,7,5,9,2004110184,牡4,56,1030,1:10.0,ハナ,\n\n**\n\n,2-2,36.9,13.2,6,508(+2),\n\n,1044,966002
7,200810010312,8,1,1,2002103739,牡6,57,432,1:10.1,1/2,\n\n**\n\n,7-8,36.5,5.7,2,494(+16),\n\n,1070,229002
8,200810010312,9,8,17,2004100723,牝4,54,836,1:10.1,クビ,\n\n**\n\n,11-11,36.3,74.9,15,420(-6),\n\n,1077,536800
9,200810010312,10,7,14,2003106095,牡5,57,1116,1:10.1,ハナ,\n\n**\n\n,2-3,36.9,91.1,16,468(0),\n\n,1062,780009
10,200810010312,11,5,10,2003101798,牝5,55,1117,1:10.1,ハナ,\n\n**\n\n,16-16,35.4,126.6,18,436(-4),\n\n,420,385008
11,200810010312,12,2,3,2004105764,牡4,56,709,1:10.1,ハナ,\n\n**\n\n,14-15,35.8,30.8,11,510(+4),\n\n,216,254800
12,200810010312,13,8,16,2003109248,牡5,57,1108,1:10.3,1.1/4,\n\n**\n\n,1-1,37.3,7.9,3,504(0),\n\n,1063,618004
13,200810010312,14,3,5,2004103617,牝4,54,1037,1:10.3,アタマ,\n\n**\n\n,5-6,36.9,10.6,5,468(-4),\n\n,1060,839004
14,200810010312,15,8,18,2003110105,牝5,55,1062,1:10.6,1.3/4,\n\n**\n\n,4-3,37.3,15.6,7,486(-2),\n\n,1085,29007
15,200810010312,16,4,8,2004107150,牝4,54,1051,1:10.8,1.1/4,\n\n**\n\n,7-6,37.2,98.9,17,466(0),\n\n,408,276800
16,200810010312,17,7,13,2004104018,牝4,54,1101,1:11.3,3,\n\n**\n\n,16-17,36.7,17.4,8,426(-4),\n\n,361,632005
17,200810010312,中,6,11,2003100265,牡5,57,734,NaN,NaN,\n\n**\n\n,NaN,NaN,18.3,9,472(+4),\n\n,1015,514009

ModuleNotFoundError: No module named 'tensorflow'